h1{
    display: flex;
    justify-content: center;
}
.capçalera {
    display: flex;
    justify-content: center;
}
input#nom{
    height: 30px;
    width: 150px;
}
input#nom, button#començarPartida, button#borrarPartida{
    margin-left: 10px;
}

.inici {
    display: flex; 
    align-items: center; 
    flex-direction: column; 
}